// Outlook-inspired palette
$primary: #0f6cbd;
$secondary: #616161;
$accent: #8764b8;

$dark: #1f1f1f;
$dark-page: #141414;

$positive: #107c10;
$negative: #c50f1f;
$info: #0078d4;
$warning: #f7630c;
